name: Update Project History

on:
  push:
    branches:
      - main

jobs:
  update_history:
    # Evitar que o workflow rode em um loop infinito de commits
    if: "!contains(github.event.head_commit.message, 'docs: update project history log')"
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          # Necessário para ter o histórico completo do git
          fetch-depth: 0

      - name: Update history file
        run: git log --graph --oneline > historico_do_projeto.txt

      - name: Commit and push changes
        uses: EndBug/add-and-commit@v9
        with:
          add: 'historico_do_projeto.txt'
          message: 'docs: update project history log'
          committer_name: GitHub Actions
          committer_email: actions@github.com
